h1{
    background: linear-gradient(mediumpurple,palegoldenrod);
    color: black;
    height:100% ;
    width:25%;
    border: solid;
}
body{
    text-align: center;
    background-image: url("https://preview.redd.it/i-created-the-true-backrooms-wallpaper-v0-9nfpgy5xg47b1.png?width=2048&format=png&auto=webp&s=2f9389074052f6090160f0916bb131c1a2c7fb46");
}
