h1{
    background: linear-gradient(mediumpurple,palegoldenrod);
    color: black;
    height:100% ;
    width: 100%;
    border: solid black;
    text-align: center;
}



body{
    text-align: center;
    background: peachpuff;
    background-size: 100%;

}

p{
    background: linear-gradient(grey,black);
    color: white;
    border: solid black;

}
img{

}
h2{
    background: linear-gradient(navy, dodgerblue);
    color: black;
    height:100% ;
    width: 100%;
    border: solid black;
    text-align: center;
}

h3{
    background: linear-gradient(darkgreen,yellowgreen);
    color: black;
    height:100% ;
    width: 100%;
    border: solid black;
    text-align: center;
}
h4{
    background: linear-gradient(white,wheat);
    color: black;
    height:100% ;
    width: 100%;
    border: solid black;
    text-align: center;
}
h5{
    background: linear-gradient(darkred,indianred);
    color: black;
    height:100% ;
    width: 100%;
    border: solid black;
    text-align: center;
}
h6{
    background: linear-gradient(yellow,goldenrod);
    color: black;
    height:100% ;
    width: 100%;
    border: solid black;
    text-align: center;
}
dl{
    background: linear-gradient(mediumpurple,palegoldenrod);
    color: black;
    height:100% ;
    width: 100%;
    border: solid black;
    text-align: center;

}
ol{
    background: linear-gradient(grey,black);
    color: white;
    border: solid black;
}
ul{
    background: linear-gradient(grey,black);
    color: white;
    border: solid black;
}